/* static style */
.attr {
    fill: rgba(105, 195, 120, 0.5);
    /* stroke: rgb(255, 64, 64); */
    stroke-width: 0.5px;
}
.countries{
    fill: rgba(2, 7, 3, 0.774);
}
.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 0.5px;
}

.gratBackground {
    fill: rgba(0, 24, 77, 0.8);
}

.map, .chart {
    border: medium solid rgb(73, 73, 73);
    margin-top: 2em;
    margin-left: 0.5em;
    background-color: rgba(0, 24, 77, 0.5);
    /* margin-left: 5em; */
}
.numbers {
    fill: white;
    font-family: 'EXAN';
    font-size: 10pt;
}
.chartTitle {
    font-family: Book Antiqua;
    font-size: 11pt;
    font-weight: bold;
}