#mapid { /*#id or .class*/
    height: 480px;
    width: 100%;
    display: inline-block;

}
#title{
    margin: -0.8em;
    text-align: center;
    padding:2px;
}
/* Sequence Controller */
.sequence-control-container {
    width: 300px;
    height: 20px;
    background-color: rgb(77, 77, 138,0.9);
    border-radius: 20px;
    padding: 30px;
    line-height: 0px;
    text-align:center;
    border-radius: solid gray 70px;
}

.range-slider {
    width: 200px;
}

.temporal-legend{
    width: 80px;
}

.step {
    width:40px;
    border:0px;
    border-radius: 20px;
    

}


.step img {
   width: 100%;
   height: auto;
   filter: invert(100%);
  
}


/* #panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 50px;
} */

#forward {
    float: right;
    background-color: rgb(77, 77, 138);
}

#forward:hover{
    background-color: rgba(216, 77, 67, 0.9);
}

#reverse {
    float: left;
    background-color: rgb(77, 77, 138);
}

#reverse:hover{
    background-color: rgba(216, 77, 67, 0.9);
}


/* legend */
.legend-control-container {
    width: 150px;
    height: 160px;
    padding: 35px;
    font-weight: bold;
    background-color: rgb(77, 77, 138,0.9);
    border-radius:90px;
    text-align: center;

}

#legend{
    width:100%;
}

#attribute-legend{
    width:180px;
    border:10px;
}